<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Анальные шарики</h1>
    <p>Писюн на вкус как карамель, так как пёхов гей</p>
    <video width="320" height="240" controls>
        <source src="/images/doc_2025-03-02_21-59-19.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <video width="320" height="240" controls>
        <source src="/images/9090.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <img src="/images/123.jpg">
</body>

</html>